<h1>Dict And Sets</h1>

# hello python

In [1]:
l = [1,2,3,4,5,6]

In [2]:
ll = [1,2,3,"hello"]

In [3]:
e = []

In [4]:
e.append(5)

In [5]:
e

[5]

In [6]:
e.append(8)

In [7]:
e

[5, 8]

In [8]:
l = [1,2,3,4]

In [9]:
e.extend(l)

In [10]:
e

[5, 8, 1, 2, 3, 4]

In [11]:
l+e

[1, 2, 3, 4, 5, 8, 1, 2, 3, 4]

In [12]:
l

[1, 2, 3, 4]

In [13]:
e

[5, 8, 1, 2, 3, 4]

In [14]:
e.extend("hello")

In [15]:
e

[5, 8, 1, 2, 3, 4, 'h', 'e', 'l', 'l', 'o']

In [16]:
e.extend(hello)

NameError: name 'hello' is not defined

In [17]:
t = (1,2,3,4,)

In [18]:
t

(1, 2, 3, 4)

In [19]:
type(t)

tuple

In [20]:
print(type(t))

<class 'tuple'>

In [21]:
t+t

(1, 2, 3, 4, 1, 2, 3, 4)

In [22]:
t*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [23]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [25]:
l

[1, 2, 3, 4]

In [26]:
print(*l)

1 2 3 4

In [27]:
l

[1, 2, 3, 4]

In [29]:
a = print("hello")

hello

In [30]:
 a

In [31]:
print(a)

None

In [36]:
a = slice(0,5,1)

In [37]:
a

slice(0, 5, 1)

In [38]:
s = "hello world"

In [40]:
s[a] == s[0:5:1]

True

In [41]:
s[a]

'hello'

In [42]:
s = {1,2,3,4,5,6}

In [43]:
s

{1, 2, 3, 4, 5, 6}

In [44]:
type(s)

set

In [45]:
s*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [46]:
s+s

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [47]:
s = {1,2,3,0,-9,-8,-5,-22,1,2,3}

In [48]:
s

{-22, -9, -8, -5, 0, 1, 2, 3}

In [49]:
s

{-22, -9, -8, -5, 0, 1, 2, 3}

In [50]:
s[0]

TypeError: 'set' object does not support indexing

In [52]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [53]:
s.add?

In [56]:
s.add(-50)

In [57]:
s

{-50, -22, -9, -8, -5, 0, 1, 2, 3, 50}

In [58]:
s

{-50, -22, -9, -8, -5, 0, 1, 2, 3, 50}

In [59]:
a = {1,2,3,4,5}
b = {4,5,7,8,9}

In [60]:
a.difference(b)

{1, 2, 3}

In [61]:
b.difference(a)

{7, 8, 9}

In [62]:
a

{1, 2, 3, 4, 5}

In [63]:
b

{4, 5, 7, 8, 9}

In [ ]:
a.difference_update(b)

In [64]:
a.discard(1)

In [65]:
a

{2, 3, 4, 5}

In [66]:
a.intersection(b)

{4, 5}

In [67]:
a.union(b)

{2, 3, 4, 5, 7, 8, 9}

In [68]:
a.update(b)

In [69]:
a

{2, 3, 4, 5, 7, 8, 9}

In [70]:
a.isdisjoint(b)

False

In [71]:
a.issuperset(b)

True

In [72]:
b.issubset(a)

True

In [73]:
a

{2, 3, 4, 5, 7, 8, 9}

In [74]:
b

{4, 5, 7, 8, 9}

In [75]:
a.pop()

2

In [76]:
a.discard(4)

In [77]:
a

{3, 5, 7, 8, 9}

In [78]:
a.remove(3)

In [79]:
a

{5, 7, 8, 9}

In [81]:
a.symmetric_difference(b)

{4}

In [82]:
s.pop?

In [83]:
s.pop()

0

In [84]:
s

{-50, -22, -9, -8, -5, 1, 2, 3, 50}

In [85]:
s.pop()

1

In [86]:
s

{-50, -22, -9, -8, -5, 2, 3, 50}

In [87]:
s.remove(-22)

In [88]:
s

{-50, -9, -8, -5, 2, 3, 50}

In [90]:
a.symmetric_difference(b)

{4}

In [91]:
s

{-50, -9, -8, -5, 2, 3, 50}

In [92]:
e = frozenset(s)

In [93]:
e

frozenset({-50, -9, -8, -5, 2, 3, 50})

In [94]:
type(e)

frozenset

In [95]:
e

frozenset({-50, -9, -8, -5, 2, 3, 50})

In [96]:
dir(e)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']

In [97]:
d = {"key":"Value","key1":"value"}

In [98]:
type(d)

dict

In [99]:
e = {}

In [100]:
type(e)

dict

In [101]:
e = set()

In [102]:
type(e)

set

In [103]:
d

{'key': 'Value', 'key1': 'value'}

In [104]:
d

{'key': 'Value', 'key1': 'value'}

In [105]:
d["key"]

'Value'

In [106]:
d = {"name":"Manish","city":"Jaipur","roll_no":101}

In [107]:
d

{'name': 'Manish', 'city': 'Jaipur', 'roll_no': 101}

In [109]:
type(d["name"])

str

In [110]:
d["city"]

'Jaipur'

In [111]:
d["roll_no"]

101

In [112]:
d["marks"] = 500

In [113]:
d

{'name': 'Manish', 'city': 'Jaipur', 'roll_no': 101, 'marks': 500}

In [114]:
d["abc"]

KeyError: 'abc'

In [115]:
d.keys()

dict_keys(['name', 'city', 'roll_no', 'marks'])

In [116]:
d.values()

dict_values(['Manish', 'Jaipur', 101, 500])

In [117]:
d.items()

dict_items([('name', 'Manish'), ('city', 'Jaipur'), ('roll_no', 101), ('marks', 500)])

In [118]:
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [119]:
d.get("name")

'Manish'

In [120]:
d["abc"]

KeyError: 'abc'

In [121]:
d.get("abc","key not found")

'key not found'

In [122]:
d.get("name","key not found")

'Manish'

In [123]:
d.get("abc")

In [124]:
l = ["name","age","city"]

In [126]:
dd = dict.fromkeys(l)

In [127]:
dd

{'name': None, 'age': None, 'city': None}

In [128]:
dd.fromkeys?

In [129]:
dd = d.fromkeys(l,"Default")

In [130]:
dd

{'name': 'Default', 'age': 'Default', 'city': 'Default'}

In [131]:
d.pop?

In [132]:
d.pop("name")

'Manish'

In [133]:
d

{'city': 'Jaipur', 'roll_no': 101, 'marks': 500}

In [134]:
d.popitem?

In [137]:
d.popitem()

('marks', 500)

In [147]:
d.setdefault("state","Raj")

In [148]:
d["state"] = "raj"

In [149]:
d

{'city': 'Jaipur', 'roll_no': 101, 'state': 'raj'}

In [150]:
d.update?

In [151]:
d

{'city': 'Jaipur', 'roll_no': 101, 'state': 'raj'}

In [152]:
d.setdefault("name","Manish")

'Manish'

In [153]:
d

{'city': 'Jaipur', 'roll_no': 101, 'state': 'raj', 'name': 'Manish'}

In [154]:
d["age"] = "hello"

In [155]:
d

{'city': 'Jaipur',
 'roll_no': 101,
 'state': 'raj',
 'name': 'Manish',
 'age': 'hello'}

In [156]:
d.setdefault("age",22)

'hello'

In [157]:
d

{'city': 'Jaipur',
 'roll_no': 101,
 'state': 'raj',
 'name': 'Manish',
 'age': 'hello'}

In [158]:
d["age"] = 22

In [159]:
d

{'city': 'Jaipur', 'roll_no': 101, 'state': 'raj', 'name': 'Manish', 'age': 22}

In [163]:
z = {"one":4,"two":7}

In [164]:
d.update(z)

In [165]:
d

{'city': 'Jaipur',
 'roll_no': 101,
 'state': 'raj',
 'name': 'Manish',
 'age': 22,
 'one': 4,
 'two': 7}